docker.enabled = true

params {
    input       	 = "${projectDir}/assets/samplesheet.csv"
    outdir      	 = "${projectDir}/results"
    fasta       	 = "${projectDir}/data/ref/hg38.analysisSet.fa.gz"
    fasta_fai   	 = "${projectDir}/data/ref/hg38.analysisSet.fa.gz.fai"
    fasta_dict  	 = "${projectDir}/data/ref/hg38.analysisSet.dict"
    fasta_gzi  	 	 = "${projectDir}/data/ref/hg38.analysisSet.fa.gz.gzi"
    dbsnp 	 		 = "${projectDir}/data/ref/dbsnp_146.hg38.vcf.gz"
    dbsnp_tbi 		 = "${projectDir}/data/ref/dbsnp_146.hg38.vcf.gz.tbi"
}
