docker.enabled = true

params {
    input       	 = "${projectDir}/assets/samplesheet.csv"
    outdir      	 = "${projectDir}/results"
    fasta       	 = "${projectDir}/data/ref/hg38.analysisSet.fa.gz"
    dbsnp 	 		 = "${projectDir}/data/ref/dbsnp_146.hg38.vcf.gz"
    dbsnp_tbi 		 = "${projectDir}/data/ref/dbsnp_146.hg38.vcf.gz.tbi"
}
